<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Add car</title>
    </h:head>
    <h:body>
        <h:form>
            SPZ :
            <h:inputText id="spz" value="#{carForm.spz}" label="SPZ">
            </h:inputText>
            <br/>
            Year:
            <h:inputText id="year" value="#{carForm.year}" label="Year">
            <f:validator binding="#{yearValidator}" />
            </h:inputText>
            <br/>
            <h:selectOneMenu value="#{carForm.carType}" label="Car type" >
                <f:selectItems value="#{carForm.carTypes}" var="it" itemLabel="#{it.name}" itemValue="#{it.name}" />
            </h:selectOneMenu>
            <br/>
            <br/>
            <h:commandButton value="Add car" action="#{carForm.saveCar()}" />
        </h:form>
    </h:body>
</html>

