<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>All cars</title>
    </h:head>
    <h:body>
        <h:dataTable value="#{allCars.cars}" var="car">
            <h:column>
                <f:facet name="header">ID</f:facet>
                #{car.id}
            </h:column>
            <h:column>
                <f:facet name="header">SPZ</f:facet>
                #{car.spz}
            </h:column>
            <h:column>
                <f:facet name="header">Year</f:facet>
                #{car.year}
            </h:column>
            <h:column>
                <f:facet name="header">Type</f:facet>
                #{car.type}
            </h:column>
        </h:dataTable>
    </h:body>
</html>

